<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />

    </head>
    <body>
        <div class="branding">
                <div class="logo">
            <a href="/" rel="home" title="Vrije Basisschool de Krekel">
                <img src="/Images/lgo_krekelNew.png" alt="Vrije Basisschool de Krekel" class="btnImg">
            </a>
                    <h2 class="AppTitel">De Lettertuin</h2>
            </div>           

        </div>

    </body>
    @RenderBody();  
</html>
