@using DeLettertuin.Domain
@using System.Security.Cryptography.X509Certificates
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using DeLettertuin.Models.DAL
@using DeLettertuin.Models.Domain
@using DeLettertuin.Controllers
@using DeLettertuin.Models.ViewModel
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model IEnumerable<DeLettertuin.Uitlening>
@{
    ViewBag.Title = "LeerlingenView";
    }


<h2>Leerlingen</h2>
<hr />
        <table class="table">
            <tr class="headtr">
                <th>
                    <a href='@Url.Action("Create New", "Create")'>
                        <img id="toevoegen" src='@Url.Content("~/Images/toevoegen.png")' />
                    </a>
                </th>

                @foreach (var p in typeof(Leerling).GetProperties())
                {
                    
                    <th>
                        @p.Name
                    </th>
                    
                }

            </tr>

          @foreach (var item in Model)
          { 
               <tr >
    

                   @foreach (var p in item.GetType().GetProperties())
                   {
                       if (!p.Name.Equals("Uitleningen") && !p.Name.Equals("Straat") && !p.Name.Equals("HuisNr") && !p.Name.Equals("Postcode") && !p.Name.Equals("Gemeente") && !p.Name.Equals("Email"))
                       {
                       <td class="" > @item.GetType().GetProperty(p.Name).GetValue(item)</td>
                       }

                   }

               </tr>
           }


        </table>