
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="container">
        <h2>Welkom!</h2>
        <div class="kader col-md-3">
            <h2>Items</h2>
            <p>blablablaba
                blabla
                bllalbablalba
                blalbalbal
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="kader col-md-3">
            <h2>Leerlingen</h2>
            <p>blablablaba
                blabla
                bllalbablalba
                blalbalbal
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="kader col-md-3">
            <h2>Uitleningen</h2>
            <p>blablablaba
                blabla
                bllalbablalba
                blalbalbal
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


