
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="container">
        <div class="col-md-4">
            <h2>Items</h2>
            <p>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Leerlingen</h2>
            <p>
            </p>
        </div>
        <div class="col-md-3">
            <h2>Uitleningen</h2>
            <p>
            </p>
        </div>
    </div>
</div>


